body{
    section{
        .containerAdd{
            display: flex;
            justify-content: center;
            .boxArticleAdd{
                background-color: $turquoise;
                border-radius: 20px;
                padding: 4vh 4vw;
                margin: auto;
                .CupArticleAdd {
                    display: flex;
                    flex-direction: column;
                    padding: 4vh 0 3vh 0;
                    label{
                        font-size: 22px;
                        padding-bottom: 2vh;
                    }
                    input{
                        background-color: $bleu;
                        color: white;
                        border: none;
                        border-radius: 5px;
                        padding: 8px 7px;
                    }
                    div{
                        display: flex;
                        flex-direction: column;   
                    }
                    select{
                        background-color: $bleu;
                        color: white;
                        border: none;
                        border-radius: 5px;
                        padding: 8px 7px;
                    }
                    textarea{
                        margin: 0px;
                        width: 430px;
                        height: 210px;
                        border-radius: 5px;
                        resize: none;
                        background-color: $bleu;
                        color: white;
                        margin-bottom: 2vh;
                    }
                }

                .btn{
                    background-color: $rose;
                    padding: 0 10px;
                    border-radius: 10px;
                    margin-top: 2vh;
                    border: 2px solid $rose;
                    font-family: 'Pacifico';
                    font-size: 25px;
                    color: $bleu;
                    box-shadow: 20px 38px 34px -16px hsla(0,0%,0%,.2);
                }
                .btn:hover{
                    transition: 1s;
                    box-shadow:9px 9px 10px -3px rgb(0 0 0 / 30%);
                    color: white;
                }
            }

        }


    }
}