body{
    section{
        margin-bottom: 30vh;
        .welcome{
            display: flex;
            flex-direction: column;
            text-align: center;
            margin-bottom: 3vh;
            .adminBtn{
                margin: auto;
                padding: 5px 10px;
                border: 3px solid transparent;
                font-size: 17px;
                background-color: #ef85a510;

                a{
                    text-decoration: none;
                    color: $bleu;
                }
                &:hover{
                    transition: 1s;
                    border-top: 3px dashed $rose;
                    border-bottom: 3px dashed $rose;
                }

            }

        }
        .compteBox{
            margin: auto;
            table{
                background-color: $turquoise;
                border-radius: 10px;
                margin: auto;
                padding: 14px;

                thead{
                    tr{
                        text-align: center;
                        td {
                            font-size: 20px;
                            padding-bottom: 8px;
                            border-bottom: 2px dashed $rose;
                            a{
                                color: $rose;
                            }
                            a:hover {
                                color: $bleu;
                            }
                        }

                    }
                }
                tbody{
                    tr{
                        td{
                            padding: 8px;
                            border-bottom: 2px dashed $rose;
                            img{
                                width:100px; 
                                width: 100px;
                                height: 100px; 
                                object-fit: cover;
                                border-radius: 10px;
                            }
                            a{
                                color: $bleu;
                            }
                            a:hover{
                                color: $rose;
                            }
                            button{ 
                                cursor: pointer;
                                border: none;
                                background-color: inherit;
                                color: $bleu;
                            }
                            button:hover{
                                color: $rose;
                            }

                        }
                    }
                    tr:hover{
                        background-color: #ef85a550;
                        transition: 0.5s;
                    }
                }
            }
        }
    }

}