body{
    .aPropos{
        margin: 30vh 40vw 30vh 5vh;


    }
    
    section{

        h1{
            a{
                text-decoration: none;
                color: inherit;
                &:hover{
                    color: #ef85a5;
                    transition: 2s;
                }
            }

        }
        .filtre{
            text-align: center;
            background-color: #ef85a50a;
            padding: 20px;
            margin: 0px 20vw 10vh;     
            border-radius: 10px;     
            border: 2px solid transparent;
  
            a{
                text-decoration: none;
                color: $bleu;
                margin-right: 2vw;
                border: 2px solid transparent;
            }
            a:hover{
                border-top: 2px solid $rose;
                border-bottom: 2px solid $rose;
                transition: .4s;

            }
            
        }
        .filtre:hover{
            border: 2px dashed #ef85a563;
            transition: 1s;
        }
        .container{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-row-gap: 5vh;
            justify-items: center;
            margin: auto;
            .boxArticle {
                background-color: $turquoise;
                width: 340px;
                height: 420px;
                text-align: center;
                border-radius: 170px;
                border: 2px solid transparent;
                box-shadow: 20px 38px 34px -16px hsla(0,0%,0%,.2);

                .nomCupArticle{
                    padding: 4vh 0 2vh 0;
    
                }
                .imgCupArticle{
                    img{
                        width: 230px;
                        height: 230px;
                        border-radius: 50%;
                        object-fit: cover;
                        object-position: center;
                    }

                }
            }
            .boxArticle:hover{
                box-shadow:9px 9px 10px -3px rgb(0 0 0 / 30%);
                transition: 0.5s;
                border: 2px dashed #2f57615e;

            }
            a{
                text-decoration: none;
                color: $bleu;
            }
        }


        .containerId{
            display: flex;
            justify-content: center;
            .boxArticleId {
                background-color: $turquoise;
                margin: 10px;
                text-align: center;
                border-radius: 20px;
                padding: 0 2vw;
                width: 70%;
                box-shadow: 10px 10px 10px #2f5761;
                .nomCupArticleId {
                    padding: 4vh 0 3vh 0;
    
                }
                .imgCupArticleId {
                    img{
                        width: 350px;
                        object-fit: cover;
                        object-position: center;
                        border-radius: 10px;
                    }
                }
                .recette {
                    display: flex;
                    .ingredientCupArticleId{
                        width: 30%;
                        margin-top: 5vh;
                        background: pink;
                        border-radius: 10px;
                        padding: 20px 5px;      
                        text-align: start;
                        font-size: 18px;
                        box-shadow: 10px 10px 10px #2f5761;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        .editSiUser{
                            text-align: center;
                            a{
                                color: $bleu;
                                text-decoration: none;
                                &:hover{
                                    color: $rose;
                                }
                            }
                        }
                    }
                    .recetteCupArticleId{
                        width: 100%;
                        margin: 5vh 0 0 5vw;
                        p{
                            font-size: 20px;
                        }
                    }

                }

                .auteurId{
                    margin: 10vh;
                    text-align: end;
                    font-size: 20px;
                    a{
                        color: $bleu;
                        text-decoration: none;
                    }
                    a:hover{
                        color: $rose;
                    }
                }

            }
    
        }
    }

}