body{
    section{

        .retour{
            margin: 10vh 0 0 5vw;
            a{
                color: $bleu;
                font-size: 30px;
            }
            a:hover{
                color: $rose;
                transition: 2s;

            }
        }
        .retour:hover{
            transform: rotateX(180deg);
            transition: 2s;
        }
        h1{
            font-size: 35px;
            text-align: center;
            color: $bleu;

        }
        .boxReponse{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            .directionsecu{
                a{
                    font-size: 30px;
                    text-decoration: none;
                    color: $bleu;
                    i{
                      font-size: 20px;
                    }
                }  
                padding: 0px 40px;
                margin-top: 10vh;
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                width: 230px;
                height: 100px;
                border-radius: 10px;
            }             
            .directionsecu:hover::before, div:hover::after {
                display: block;
                content: '';
                position: absolute;
                width: 230px;
                height: 100px;
                background: $rose;
                border-radius: 75px;
                z-index: -1;
                animation: 1s clockwise infinite;
                filter: opacity(0.7);
            }
                  
            div:hover:after {
                background: $turquoise;
                animation: 2s counterclockwise infinite;
            }  
            @keyframes clockwise {
                0% {
                  top: -5px;
                  left: 0;
                }
                12% {
                  top: -2px;
                  left: 2px;
                }
                25% {
                  top: 0;
                  left: 5px;    
                }
                37% {
                  top: 2px;
                  left: 2px;
                }
                50% {
                  top: 5px;
                  left: 0;    
                }
                62% {
                  top: 2px;
                  left: -2px;
                }
                75% {
                  top: 0;
                  left: -5px;
                }
                87% {
                  top: -2px;
                  left: -2px;
                }
                100% {
                  top: -5px;
                  left: 0;    
                }
            }
                  
            @keyframes counterclockwise {
              0% {
                top: -5px;
                right: 0;
                }
              12% {
                top: -2px;
                right: 2px;
              }
                25% {
                top: 0;
                right: 5px;    
              }
                37% {
                top: 2px;
                right: 2px;
              }
                50% {
                top: 5px;
                right: 0;    
              }
             62% {
                top: 2px;
                right: -2px;
             }
              75% {
                top: 0;
                 right: -5px;
                  }
               87% {
                top: -2px;
                right: -2px;
                  }
                  100% {
                  top: -5px;
                    right: 0;    
              }
            }
        }

        .formCompte{
            display: flex;
            flex-direction: column;
            margin: 0 30%;
            font-size: 25px;
            .formG{
                padding: 0 0 3vh 0;
                label{
                    font-size: 22px;
                    padding-bottom: 2vh;
                }
                input{
                    background-color: $bleu;
                    color: white;
                    border: none;
                    border-radius: 5px;
                    padding: 8px 7px;
                }
                .btn{
                    background-color: $rose;
                    padding: 0 10px;
                    border-radius: 10px;
                    margin-top: 2vh;
                    border: 2px solid $rose;
                    font-family: 'Pacifico';
                    font-size: 25px;
                    color: $bleu;
                    box-shadow: 20px 38px 34px -16px hsla(0,0%,0%,.2);
                }
                .btn:hover{
                    transition: 1s;
                    box-shadow:9px 9px 10px -3px rgb(0 0 0 / 30%);
                    color: white;

                }

            }


        }
    }
}