// Tablette

@media screen and (max-width:1203px) {
    body{
        .navbarDesktop{
            .nom{
                font-size: 40px;
            }
            .navbar{
                .bgRose{
                    ul{
                        li{
                            font-size: 17px;
                            margin-right: 0;
                            margin-top: 15px;
                        }
                    }
                }
            }
        }
        section {

            .container {
                display: grid;
                grid-template-columns: 1fr 1fr;
        
            }
        }
    
    }

}

// Mobile

@media screen and (max-width:782px) {
    body{
        .navbarDesktop{
            display: none;
        }
        .enteteMobile{
            display: flex;
            flex-direction: column;
            text-align: center;
            .logoMobile{
                img{
                    width: 200px;
                }
            }
            .nomMobile{
                p{
                    font-size: 40px;
                    margin: auto;
                }
            }
        }
        .navbarMobile{
            margin: auto;
            display: flex;
            justify-content: flex-end;
            .bgRoseMobile{
                background-color: $rose;
                border-radius: 100px 0px 0px 100px;
                width: 50vw;
                ul{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-evenly;
                    list-style: none;
                    font-size: 25px;
                    margin: 0 10px 5px 10px;
                    li{
                        margin-right: 7vw;
                        margin-top: 7px;
                        a{
                            text-decoration: none;
                            color: $bleu;
                        }
                    } 
                }
            }
        }
        .aPropos{
            margin: 8vh 4vw 14vh 4vh;
            text-align: center;
        }
        section {
            margin-bottom: 10vh;
            h1{
                font-size: 25px;
            }
            .container {
                display: grid;
                grid-template-columns: 1fr;
                .boxArticle{
                    width: 290px;
                    height: 360px;
                }
            }
            .formCompte{
                margin: auto;
                width: 90%;
                form{
                    .formG{
                        font-size: 30px;
                        input{
                            width: 90%;
                        }
                    }
                }
                .formG{
                    font-size: 30px;
                    input{
                        width: 90%;
                    }
                }

            }
            .boxReponse{
                flex-direction: column;
                .directionsecu{
                    padding: inherit;
                    margin: auto;
                    a{
                        font-size: 25px;
                        i{
                            display: none;
                        }
                    }
                }
            }
            .filtre{
                display: none;
            }
            .filtreMobile{
                display: inherit;
                margin: 5vh 0 5vh 5vh;
            }

            .containerAdd{
                .boxArticleAdd{
                    width: 90%;
                    .CupArticleAdd{
                        textarea{
                            width:auto;
                        }
                    }
                }
            }
            .containerId{
                .boxArticleId{
                    width: 90%;
                    .imgCupArticleId{
                        margin-bottom: 4vh;
                        img{
                            width: 70%;                        }
                    }
                    .recette{
                        display: inherit;
                        .ingredientCupArticleId{
                            width: 90%;
                            margin: auto;
                        }
                        .recetteCupArticleId{
                            width: 90%;
                            margin: auto;                        }
                    }
                }
            }
            .compteBox{
                display: none;
                
            }
            .compteMobile {
                display: inherit;

                
            }

        }
        .erreur{
            flex-direction: column;
            .img_erreur{
                width:inherit;
                img{
                    filter: opacity(0.5);
                }
            }
            .text_erreur{
                width:inherit;
                position: absolute;
            }
        }

        footer{
            .info{
                flex-direction: column;
                text-align: center;
                .partenaire{
                    ul {
                        list-style: none;
                        padding: initial;
                    }
                }
                .droit{
                    position: absolute;
                    bottom: 0;
                    margin-top: auto;
                }
                .rso{
                    ul{
                        padding: inherit;
                        justify-content: center;
                        margin-bottom: 10vh;
                    }

                }
            }
        }
    }
}