body{
    background-image: url(../image/bg_ca.jpg) ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    font-family: 'Pacifico', fantasy;
    color: $bleu;

    .navbarDesktop{
        display: flex;
        flex-direction: row;
        .nom{
            width: 40%;
            display: flex;
            justify-content: center;
            margin-bottom: 0;
            font-size: 50px;
            a{
                text-decoration: none;
                color: $bleu;
                margin-top: 60px;
            }
        }
        .logo{
            width: 20%;
            display: flex;
            justify-content: center;
            img{
                width: 200px;
            }
            img:hover{
                transform: rotateY(360deg);
                transition: 2s;
            }
        }
        .navbar{
            width: 40%;
            .bgRose{
                background-color: $rose;
                padding: 10px;
                border-radius: 100px 0px 0px 100px;
                margin-top: 60px;
                margin-left: 5vw;
                border: 2px solid transparent;
                width: 85%;
                &:hover{
                    border: 2px dashed #2f5761ad;
                    transition: 2s;
                }
                ul{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-evenly;
                    list-style: none;
                    margin: auto;
                    li{
                        font-size: 22px;
                        a{
                            text-decoration: none;
                            color: $bleu;
                            &:hover{
                                color: #73cfd0;
                                transition: 2s;
                            }
                        }
                    }
                }
            }
        }
    }
    .enteteMobile{
        display: none;
    }
    .navbarMobile {
        display: none;
    }
    footer{
        background-color: $turquoise;
        padding: 2px;
        position: relative;
        bottom: 0;
        width: 100%;
        .info {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin: 0 10vw;
            .partenaire{
                ul{
                    list-style-type: none;
                    li{
                        a{
                            text-decoration: none;
                            color: $bleu;
                            &:hover{
                                color: $rose;
                            }
                            i{
                                font-size: 20px;
                                margin-right: 10px;
                            }
                        }
                    }
                }

            }
            .droit{
                margin-top: auto;
                p{
                    text-align: center;
                    a{
                        text-decoration: none;
                        color: $bleu;
                        &:hover{
                            color: $rose;
                        }
                    }
                }
    
            }
            .rso{
                ul{
                    list-style: none;
                    display: flex;
                    li{
                        margin-right: 10px;
                        font-size: 30px;
                        a{
                            text-decoration: none;
                            color: $bleu;
                            &:hover{
                                color: $rose;
                            }

                        }
                    }
                }
            }

        }

    } 

}