body{
    background-image: url(../image/bg_ca.jpg) ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    font-family: 'Pacifico', fantasy;
    color: $bleu;

    .navbarDesktop{
        display: flex;
        flex-direction: row;
        .nom{
            width: 40%;
            display: flex;
            justify-content: center;
            margin-bottom: 0;
            font-size: 50px;
            a{
                text-decoration: none;
                color: $bleu;
                margin-top: 60px;
            }
        }
        .logo{
            width: 20%;
            display: flex;
            justify-content: center;
            img{
                width: 200px;
            }
        }
        .navbar{
            width: 40%;
            .bgRose{
                background-color: $rose;
                width: 90%;
                height: 60px;
                border-radius: 100px 0px 0px 100px;
                margin-top: 60px;
                margin-left: 5vw;
                ul{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-evenly;
                    list-style: none;
                    margin-right: 2vw;
                    li{
                        font-size: 22px;
                        margin-top: 12px;
                        a{
                            text-decoration: none;
                            color: $bleu;
                        }

                    }
                    
                }
            }

        }
    }
    .enteteMobile{
        display: none;
    }
    .navbarMobile {
        display: none;
    }
    footer{
        background-color: $turquoise;
        ul{
            display: flex;
            flex-direction: row;
            list-style: none;
            justify-content: space-between;
            padding: 10px;
            margin: auto;
            li{
                list-style: none;
                padding: 10px 50px;
                a{
                    text-decoration: none;
                    color: $bleu;
                }
                a:hover{
                    color: $rose;
                }

            }
            .admin{
                display: flex;
                justify-content: flex-end;
                margin-right: 10%;
                a{
                    text-decoration: none;
                    background-color: $bleu;
                    padding: 0 10px;
                    border-radius: 10px;
                    border: none;
                    font-family: 'Pacifico';
                    font-size: 20px;
                    color: white;
                }
            }

        }

    } 

}