{% extends 'base.html.twig' %}

{% block title %}Je le connecte{% endblock %}

{% block body %}

    <section>
        <div class="retour">
            <a href="{{path('dejauncompte')}}"><i class="fas fa-reply"></i></a>
        </div>

        <h1>Me connecter</h1>

        <form class="formCompte" method="post">
            <div style="color:#EF86A6">
                {% if error %}
                <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
            </div>

            <div class="formG">
                <label for="inputUsername">Identifiant </label>
                <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" required autofocus>
            </div>

            <div class="formG">
                <label for="inputPassword">Mot de passe </label>
                <input type="password" name="password" id="inputPassword" class="form-control" required>
            </div>
            <div class="formG">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                <button class="btn" type="submit">Se connecter</button>
            </div>
        </form>
    </section>

{% endblock %}
