@font-face {
  font-family: "Pacifico";
  src: url("../font/Pacifico-Regular.ttf");
}
body {
  background-image: url(../image/bg_ca.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin: 0;
  font-family: "Pacifico", fantasy;
  color: #2f5761;
}
body .navbarDesktop {
  display: flex;
  flex-direction: row;
}
body .navbarDesktop .nom {
  width: 40%;
  display: flex;
  justify-content: center;
  margin-bottom: 0;
  font-size: 50px;
}
body .navbarDesktop .nom a {
  text-decoration: none;
  color: #2f5761;
  margin-top: 60px;
}
body .navbarDesktop .logo {
  width: 20%;
  display: flex;
  justify-content: center;
}
body .navbarDesktop .logo img {
  width: 200px;
}
body .navbarDesktop .logo img:hover {
  transform: rotateY(360deg);
  transition: 2s;
}
body .navbarDesktop .navbar {
  width: 40%;
}
body .navbarDesktop .navbar .bgRose {
  background-color: #ef85a5;
  padding: 10px;
  border-radius: 100px 0px 0px 100px;
  margin-top: 60px;
  margin-left: 5vw;
  border: 2px solid transparent;
  width: 85%;
}
body .navbarDesktop .navbar .bgRose:hover {
  border: 2px dashed #2f5761ad;
  transition: 2s;
}
body .navbarDesktop .navbar .bgRose ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style: none;
  margin: auto;
}
body .navbarDesktop .navbar .bgRose ul li {
  font-size: 22px;
}
body .navbarDesktop .navbar .bgRose ul li a {
  text-decoration: none;
  color: #2f5761;
}
body .navbarDesktop .navbar .bgRose ul li a:hover {
  color: #73cfd0;
  transition: 2s;
}
body .enteteMobile {
  display: none;
}
body .navbarMobile {
  display: none;
}
body footer {
  background-color: #73cfd0cc;
  padding: 2px;
  position: relative;
  bottom: 0;
  width: 100%;
}
body footer .info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 10vw;
}
body footer .info .partenaire ul {
  list-style-type: none;
}
body footer .info .partenaire ul li a {
  text-decoration: none;
  color: #2f5761;
}
body footer .info .partenaire ul li a:hover {
  color: #ef85a5;
}
body footer .info .partenaire ul li a i {
  font-size: 20px;
  margin-right: 10px;
}
body footer .info .droit {
  margin-top: auto;
}
body footer .info .droit p {
  text-align: center;
}
body footer .info .droit p a {
  text-decoration: none;
  color: #2f5761;
}
body footer .info .droit p a:hover {
  color: #ef85a5;
}
body footer .info .rso ul {
  list-style: none;
  display: flex;
}
body footer .info .rso ul li {
  margin-right: 10px;
  font-size: 30px;
}
body footer .info .rso ul li a {
  text-decoration: none;
  color: #2f5761;
}
body footer .info .rso ul li a:hover {
  color: #ef85a5;
}

body section {
  margin-bottom: 30vh;
}
body section .welcome {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 3vh;
}
body section .welcome .adminBtn {
  margin: auto;
  padding: 5px 10px;
  border: 3px solid transparent;
  font-size: 17px;
  background-color: #ef85a510;
}
body section .welcome .adminBtn a {
  text-decoration: none;
  color: #2f5761;
}
body section .welcome .adminBtn:hover {
  transition: 1s;
  border-top: 3px dashed #ef85a5;
  border-bottom: 3px dashed #ef85a5;
}
body section .compteBox {
  margin: auto;
}
body section .compteBox table {
  background-color: #73cfd0cc;
  border-radius: 10px;
  margin: auto;
  padding: 14px;
}
body section .compteBox table thead tr {
  text-align: center;
}
body section .compteBox table thead tr td {
  font-size: 20px;
  padding-bottom: 8px;
  border-bottom: 2px dashed #ef85a5;
}
body section .compteBox table thead tr td a {
  color: #ef85a5;
}
body section .compteBox table thead tr td a:hover {
  color: #2f5761;
}
body section .compteBox table tbody tr td {
  padding: 8px;
  border-bottom: 2px dashed #ef85a5;
}
body section .compteBox table tbody tr td img {
  width: 100px;
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 10px;
}
body section .compteBox table tbody tr td a {
  color: #2f5761;
}
body section .compteBox table tbody tr td a:hover {
  color: #ef85a5;
}
body section .compteBox table tbody tr td button {
  cursor: pointer;
  border: none;
  background-color: inherit;
  color: #2f5761;
}
body section .compteBox table tbody tr td button:hover {
  color: #ef85a5;
}
body section .compteBox table tbody tr:hover {
  background-color: #ef85a550;
  transition: 0.5s;
}

body section .containerAdd {
  display: flex;
  justify-content: center;
}
body section .containerAdd .boxArticleAdd {
  background-color: #73cfd0cc;
  border-radius: 20px;
  padding: 10vh 10vw;
  margin: auto;
}
body section .containerAdd .boxArticleAdd .CupArticleAdd {
  display: flex;
  flex-direction: column;
  padding: 4vh 0 3vh 0;
}
body section .containerAdd .boxArticleAdd .CupArticleAdd label {
  font-size: 22px;
  padding-bottom: 2vh;
}
body section .containerAdd .boxArticleAdd .CupArticleAdd input {
  background-color: #2f5761;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px 7px;
}
body section .containerAdd .boxArticleAdd .CupArticleAdd div {
  display: flex;
  flex-direction: column;
}
body section .containerAdd .boxArticleAdd .CupArticleAdd select {
  background-color: #2f5761;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px 7px;
}
body section .containerAdd .boxArticleAdd .CupArticleAdd textarea {
  margin: 0px;
  width: 430px;
  height: 210px;
  border-radius: 5px;
  resize: none;
  background-color: #2f5761;
  color: white;
  margin-bottom: 2vh;
}
body section .containerAdd .boxArticleAdd .btn {
  background-color: #ef85a5;
  padding: 0 10px;
  border-radius: 10px;
  margin-top: 2vh;
  border: 2px solid #ef85a5;
  font-family: "Pacifico";
  font-size: 25px;
  color: #2f5761;
  box-shadow: 20px 38px 34px -16px rgba(0, 0, 0, 0.2);
}
body section .containerAdd .boxArticleAdd .btn:hover {
  transition: 1s;
  box-shadow: 9px 9px 10px -3px rgba(0, 0, 0, 0.3);
  color: white;
}

body .aPropos {
  margin: 30vh 40vw 30vh 5vh;
}
body section h1 a {
  text-decoration: none;
  color: inherit;
}
body section h1 a:hover {
  color: #ef85a5;
  transition: 2s;
}
body section .filtre {
  text-align: center;
  background-color: #ef85a50a;
  padding: 20px;
  margin: 0px 20vw 10vh;
  border-radius: 10px;
  border: 2px solid transparent;
}
body section .filtre a {
  text-decoration: none;
  color: #2f5761;
  margin-right: 2vw;
  border: 2px solid transparent;
}
body section .filtre a:hover {
  border-top: 2px solid #ef85a5;
  border-bottom: 2px solid #ef85a5;
  transition: 0.4s;
}
body section .filtre:hover {
  border: 2px dashed #ef85a563;
  transition: 1s;
}
body section .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 5vh;
  justify-items: center;
  margin: auto;
}
body section .container .boxArticle {
  background-color: #73cfd0cc;
  width: 340px;
  height: 420px;
  text-align: center;
  border-radius: 170px;
  border: 2px solid transparent;
  box-shadow: 20px 38px 34px -16px rgba(0, 0, 0, 0.2);
}
body section .container .boxArticle .nomCupArticle {
  padding: 4vh 0 2vh 0;
}
body section .container .boxArticle .imgCupArticle img {
  width: 230px;
  height: 230px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}
body section .container .boxArticle:hover {
  box-shadow: 9px 9px 10px -3px rgba(0, 0, 0, 0.3);
  transition: 0.5s;
  border: 2px dashed #2f57615e;
}
body section .container a {
  text-decoration: none;
  color: #2f5761;
}
body section .containerId {
  display: flex;
  justify-content: center;
}
body section .containerId .boxArticleId {
  background-color: #73cfd0cc;
  margin: 10px;
  text-align: center;
  border-radius: 20px;
  padding: 0 2vw;
  width: 70%;
  box-shadow: 10px 10px 10px #2f5761;
}
body section .containerId .boxArticleId .nomCupArticleId {
  padding: 4vh 0 3vh 0;
}
body section .containerId .boxArticleId .imgCupArticleId img {
  width: 350px;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
}
body section .containerId .boxArticleId .recette {
  display: flex;
}
body section .containerId .boxArticleId .recette .ingredientCupArticleId {
  width: 30%;
  margin-top: 5vh;
  background: pink;
  border-radius: 10px;
  padding: 20px 5px;
  text-align: start;
  font-size: 18px;
  box-shadow: 10px 10px 10px #2f5761;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
body section .containerId .boxArticleId .recette .ingredientCupArticleId .editSiUser {
  text-align: center;
}
body section .containerId .boxArticleId .recette .ingredientCupArticleId .editSiUser a {
  color: #2f5761;
  text-decoration: none;
}
body section .containerId .boxArticleId .recette .ingredientCupArticleId .editSiUser a:hover {
  color: #ef85a5;
}
body section .containerId .boxArticleId .recette .recetteCupArticleId {
  width: 100%;
  margin: 5vh 0 0 5vw;
}
body section .containerId .boxArticleId .recette .recetteCupArticleId p {
  font-size: 20px;
}
body section .containerId .boxArticleId .auteurId {
  margin: 10vh;
  text-align: end;
  font-size: 20px;
}
body section .containerId .boxArticleId .auteurId a {
  color: #2f5761;
  text-decoration: none;
}
body section .containerId .boxArticleId .auteurId a:hover {
  color: #ef85a5;
}

body .erreur {
  display: flex;
  flex-direction: row;
  margin: 30px;
  height: 60vh;
  width: 90%;
}
body .erreur .img_erreur {
  width: 50%;
  text-align: center;
}
body .erreur .img_erreur img {
  width: 400px;
}
body .erreur .text_erreur {
  width: 50%;
  text-align: center;
}

@media screen and (max-width: 1203px) {
  body .navbarDesktop .nom {
    font-size: 40px;
  }
  body .navbarDesktop .navbar .bgRose ul li {
    font-size: 17px;
    margin-right: 0;
    margin-top: 15px;
  }
  body section .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 782px) {
  body .navbarDesktop {
    display: none;
  }
  body .enteteMobile {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  body .enteteMobile .logoMobile img {
    width: 200px;
  }
  body .enteteMobile .nomMobile p {
    font-size: 40px;
    margin: auto;
  }
  body .navbarMobile {
    display: flex;
    justify-content: flex-end;
  }
  body .navbarMobile .bgRoseMobile {
    background-color: #ef85a5;
    border-radius: 100px 0px 0px 100px;
    width: 30vw;
  }
  body .navbarMobile .bgRoseMobile ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
    font-size: 25px;
    margin: 0 10px 5px 10px;
  }
  body .navbarMobile .bgRoseMobile ul li {
    margin-right: 2vw;
    margin-top: 7px;
  }
  body .navbarMobile .bgRoseMobile ul li a {
    text-decoration: none;
    color: #2f5761;
  }
  body section .container {
    display: grid;
    grid-template-columns: 1fr;
  }
  body section .formCompte .formG {
    font-size: 30px;
  }
  body section .containerId .boxArticleId .imgCupArticleId img {
    width: 200px;
  }
  body section .containerId .boxArticleId .recette {
    display: inherit;
  }
  body section .containerId .boxArticleId .recette .ingredientCupArticleId {
    width: inherit;
  }
  body section .containerId .boxArticleId .recette .recetteCupArticleId {
    width: inherit;
  }
  body .erreur {
    flex-direction: column;
  }
  body .erreur .img_erreur {
    width: inherit;
  }
  body .erreur .img_erreur img {
    filter: opacity(0.5);
  }
  body .erreur .text_erreur {
    width: inherit;
    position: absolute;
  }
  body footer .info {
    flex-direction: column;
    text-align: center;
  }
  body footer .info .partenaire ul {
    list-style: none;
    padding: initial;
  }
  body footer .info .droit {
    position: absolute;
    bottom: 0;
    margin-top: auto;
  }
  body footer .info .rso ul {
    padding: inherit;
    justify-content: center;
    margin-bottom: 10vh;
  }
}
body section .retour {
  margin: 10vh 0 0 5vw;
}
body section .retour a {
  color: #2f5761;
  font-size: 30px;
}
body section .retour a:hover {
  color: #ef85a5;
  transition: 2s;
}
body section .retour:hover {
  transform: rotateX(180deg);
  transition: 2s;
}
body section h1 {
  font-size: 35px;
  text-align: center;
  color: #2f5761;
}
body section .boxReponse {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
body section .boxReponse .directionsecu {
  padding: 0px 40px;
  margin-top: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 230px;
  height: 100px;
  border-radius: 10px;
}
body section .boxReponse .directionsecu a {
  font-size: 30px;
  text-decoration: none;
  color: #2f5761;
}
body section .boxReponse .directionsecu a i {
  font-size: 20px;
}
body section .boxReponse .directionsecu:hover::before, body section .boxReponse div:hover::after {
  display: block;
  content: "";
  position: absolute;
  width: 230px;
  height: 100px;
  background: #ef85a5;
  border-radius: 75px;
  z-index: -1;
  animation: 1s clockwise infinite;
  filter: opacity(0.7);
}
body section .boxReponse div:hover:after {
  background: #73cfd0cc;
  animation: 2s counterclockwise infinite;
}
@keyframes clockwise {
  0% {
    top: -5px;
    left: 0;
  }
  12% {
    top: -2px;
    left: 2px;
  }
  25% {
    top: 0;
    left: 5px;
  }
  37% {
    top: 2px;
    left: 2px;
  }
  50% {
    top: 5px;
    left: 0;
  }
  62% {
    top: 2px;
    left: -2px;
  }
  75% {
    top: 0;
    left: -5px;
  }
  87% {
    top: -2px;
    left: -2px;
  }
  100% {
    top: -5px;
    left: 0;
  }
}
@keyframes counterclockwise {
  0% {
    top: -5px;
    right: 0;
  }
  12% {
    top: -2px;
    right: 2px;
  }
  25% {
    top: 0;
    right: 5px;
  }
  37% {
    top: 2px;
    right: 2px;
  }
  50% {
    top: 5px;
    right: 0;
  }
  62% {
    top: 2px;
    right: -2px;
  }
  75% {
    top: 0;
    right: -5px;
  }
  87% {
    top: -2px;
    right: -2px;
  }
  100% {
    top: -5px;
    right: 0;
  }
}
body section .formCompte {
  display: flex;
  flex-direction: column;
  margin: 0 30%;
  font-size: 25px;
}
body section .formCompte .formG {
  padding: 0 0 3vh 0;
}
body section .formCompte .formG label {
  font-size: 22px;
  padding-bottom: 2vh;
}
body section .formCompte .formG input {
  background-color: #2f5761;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px 7px;
}
body section .formCompte .formG .btn {
  background-color: #ef85a5;
  padding: 0 10px;
  border-radius: 10px;
  margin-top: 2vh;
  border: 2px solid #ef85a5;
  font-family: "Pacifico";
  font-size: 25px;
  color: #2f5761;
  box-shadow: 20px 38px 34px -16px rgba(0, 0, 0, 0.2);
}
body section .formCompte .formG .btn:hover {
  transition: 1s;
  box-shadow: 9px 9px 10px -3px rgba(0, 0, 0, 0.3);
  color: white;
}

/*# sourceMappingURL=style.css.map */
