{% extends 'base.html.twig' %}


{% block title %}Page non accessible{% endblock %}

{% block body %}
<section class="erreur">
    <div class="img_erreur">
        <img src="{{ asset('image/cupcake_404.jpg') }}" alt="">
    </div>
    <div class="text_erreur">
        <h1>Accès refusé</h1>
        <p>Vous n'avez pas l'autorisation d'accéder à cette page</p>
        <p>Code de l'erreur : {{ status_code }}</p>
    </div>
</section>
{% endblock %}